<div class="mdc-card info-card info-card--success">
  <div class="card-inner">
    <h5 class="card-title">
      <%=title %>
    </h5>
    <h5 class="font-weight-light pb-2 mb-1 border-bottom">
      <% if (titletwo === 7) { %>
        <%=total_exit_cars%> Cars     
    <% } else if (titletwo === 6) { %>
      <%=entered_cars%> Cars     
      <% } else { %>
      <%=num_cars[titletwo] %> cars
    <% } %>
    </h5>
    <!-- <p class="tx-12 text-muted">click here for more details</p> --> 
    <div class="card-icon-wrapper">
      <img src="images/dashboard/road.jpeg"/>
      </div>
  </div>
</div>